body {
  margin: 0px;
  padding: 0px;
}

.model {
  background-color: lightblue;
  height: 100px;
  margin: 50px;
  position: relative;
  width: 200px;
}

.model-size {
  margin: 8px;
  position: absolute;
  top: 100%;
  white-space: nowrap;
}

.model-size:empty {
  display: none;
}
